<div class="dropdown">
  <a
    class="btn btn-outline-danger me-2 dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    role="button"
    ><i class="fa-solid fa-user"></i>Hi {{currentUser?.username ??"user"}}</a
  >
  <ul class="dropdown-menu dropdown-menu-dark">
    <li>
      <h4 class="dropdown-item-text">{{currentUser?.firstName}}</h4>
    </li>
    <li>
      <h5 class="dropdown-item-text">@{{currentUser?.username}}</h5>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <a class="dropdown-item" routerLink="/profile">View Profile</a>
    </li>
    <li><a class="dropdown-item" routerLink="/orders">Orders</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <a class="dropdown-item" (click)="logout()" routerLink="/products"
        >Log out</a
      >
    </li>
  </ul>
</div>
